* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 960px;

	/*font-weight:300;
	font-size: 12px;
	line-height:30px;*/
	color:#777777;
	background:#ffffff;
	border-color: #dddddd; 
}

#top {
	height: 50px;
	background-color: #ffffff;
	border-color: #cccccc;	
	margin: auto;
}
#name {
	float: left;
	margin-left: 200px;
	height: 60px;
	width: 180px;
	display: inline;
	text-align: center;
	background-color: #62d6e2;
}
#tat {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 800;
}
nav {
	float: right;
	margin-right: 70px;
}

#navigation {
	padding: 15px 0px 0px 0px;	
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#navi a{
	text-decoration: none;
	padding-right: 20px;
	color: #777777;
}
li {
	display: inline;
}

.main-container{
	width:100%;
	background-color: #e7e4e4;
	align-self: center;
	margin: auto;
	padding: 20px 0px 30px 20px;
	display: inline-block;
}
.submain-container {
	width:650px;
	background-color: #ffffff;
	align-self: center;
	margin: auto;
	margin-top: 10px;
	float:left;
}
.submain-container-title {
	font-size: 20px;
	font-weight: 800;
	color:#62d6e2;
	padding: 20px 0px 20px 20px;
}
hr {
	width: 93%;
	border-top: 3px solid #e7e4e4;
	margin: 20px 0px 20px 20px;
}

.submain-container-text {
	padding: 20px 20px 20px 20px;
	text-align: justify;
	line-height: normal;

}
.submain-container-image {
    float: left;
    margin: 0px 20px 15px 20px;
}
}

aside{

}
.aside-container {
	width:270px;
	background-color: #ffffff;
	margin: auto;
	margin-top: 10px;
	float:right;
	padding: 20px;
	margin-right: 10px;	
}
.aside-container-title {
	font-weight: 800;
	color:#62d6e2;
	padding: 10px 0px 20px 20px;
}
.hr-aside {
	width: 97%;
	border: 1px solid #e7e4e4;
	margin: 10px 0px 40px 0px;
}
.aside_container-images{
	display: inline;
	margin-left: 15px;
}
.aside-container-image {
	padding: 5px 0px 5px 10px;
}

footer{
	background-color: #666666;
	height: 50px;
	text-align: center;
}
.hr-bottom {
	margin: 0px 0px 0px 0px;
	width: 100%;
	border-top: 3px solid #62d6e2;
}
#copywrite {
	padding: 20px 0px 20px 0px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 9px;
	color: #d9d9d9;
}
#ffont{
	color: #777777;

}
.clear {
	clear: both;
}