* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

body {
	font-family: 'Georgia', Times, Times New Roman, serif;
	width: 960px;

	/*font-weight:300;
	font-size: 12px;
	line-height:30px;*/
	color:#777777;
	background:#ffffff;
	border-color: #dddddd; 
}

#top {
	height: 50px;
	background-color: #ffffff;
	border-color: #cccccc;	
}
#name {
	float: left;
	margin-left: 150px;
	height: 60px;
	width: 180px;
	display: inline;
	text-align: center;
	background-color: #62d6e2;
}
#tat {
	margin-top: 15px;
	font-size: 20px;
	font-weight: 800;
}

#navigation {
	
}

nav {
	float: right;
	margin-top: 15px;
	/*display: inline;*/
}

main{
	width:650px;
	background-color: #ffffff;
	border-color: #dddddd;
}

aside{
	width: 270px;
}

footer{
	background-color: #666666;
	height: 50px;
	text-align: center;
}
#copywrite {
	padding: 20px 0px 20px 0px;
}
#ffont{
	color: #777777;

}